body{
    height: 100vh;
    /* overflow: hidden; */
}
#main{
    height: 100vh;
}
.dark-yellow{
    background-color: #e6b00e;
}

@media all and (max-width: 600px){
    .display-3{
        font-size: 3.2rem!important;
    }
    .display-2{
        font-size: 2.5rem!important;
        font-weight: 400;
    }
}